*{
    padding: 0;
    margin: 0;
    background-color: #1a1a1a;

}




li a{
 text-decoration: none; /*Faz um comentario */
font-size: 20px; /*Tamanho da fonte*/
color: #ffff;
padding: 20px;
}

li{
    list-style: none; /* Remover formatação da lista*/
}

#logo{
    
    height: 100px; /*Altura*/
    width: 180px; /*Largura*/
}

ul{
    display: flex; /* Indica a pripridade FleBox*/
    flex-direction: row;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.caixa-img-logo{
    height: 90px; /*Altura*/
    width: 90px; /*Largura*/
}