* {
    
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #1a1a1a;

}


li a {

    text-decoration: none;
    /*Faz um comentario */
    font-size: 20px;
    /*Tamanho da fonte*/
    color: #ffff;
    padding: 20px;

}

li {
    list-style: none;
    /* Remover formatação da lista*/

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#logo {

    height: 100px;
    /*Altura*/
    width: 180px;
    /*Largura*/

}

ul {
    display: flex;
    /* Indica a pripridade FleBox*/
    flex-direction: row;

}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.caixa-img-logo {
    height: 90px;
    /*Altura*/
    width: 90px;
    /*Largura*/

}

.bi {

    font-size: 30px;
    color: #ffffffff;
    
}

.banner{
    background-image:url("./assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 455px;
    width: 1300px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.texto-banner{
    font-size: 35px;
    color: #ffffff;

}

.btn-menu{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    border: none;

}

.caixa-texto-banner{
width: 400px;

}